.custom-label {
    position: relative;
    width: 325px;

    label {
        position: absolute;
        top: -12px;
        left: 15px;
        background-color: #1f1f1f;
        padding: 0 2px;
        color: #A4A4A4;
        font-weight: 400;
        font-family: var(--font-poppins);
    }

    .form-control {
        border-radius: 15px;
        border: 1px solid #5D5D5D;
        background-color: #1f1f1f;
        color: #fff;
        padding: 12px 16px;
        font-size: 16px;
    }

}