:host {
    min-height: 100vh;
    max-width: 720px;
    flex-grow: 1;
}

.header {
    margin-bottom: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    .title {
        font-family: var(--font-creepster);
        font-size: 48px;
        color: #00B5CC;
        -webkit-text-stroke: 2px #B2DF28;
        text-stroke: 2px #B2DF28;
    }

    @media(max-width: 510px) {
        flex-direction: column;
    }

}